@import 'bootstrap4/bootstrap';
@import 'components/labels';
@import 'components/form';
@import 'components/button';
@import 'animations';

body {
  font-family: 'Futura', sans-serif;

}


.container {
  margin-top: 100px;
}

main {
  position: relative;
  max-width: 730px;
  margin-top: 50px;
  z-index: 1;
}

header {
  text-align: center;
  z-index: 2;
  transform: rotate(0);
  transform-style: preserve-3d;
  backface-visibility: hidden;

  img {
    max-height: 200px;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: auto;
  }

  .circle {
    width: 275px;
    height: 275px;

    background: #5fc9f8;
    border-radius: 200px;
    display: inline-block;
    transform: translateZ(-25px);
  }

  .logo {
    pointer-events: none;
    margin-top: -315px;
    transform: translateZ(25px);
  }

  .wave {
    pointer-events: none;
    transform: translateZ(0px);
    max-width: 500px;
    margin-top: -350px;
  }

  @include media-breakpoint-down(md) {
    .wave {
      margin-top: -350px;
    }
  }

  @include media-breakpoint-down(sm) {
    .wave {
      margin-top: -325px;
    }
  }
}

nav {
  text-align: center;

  a {
    text-decoration: none;
    text-transform: lowercase;
    display: block;
    min-width: 125px;
    color: white;

    &:active {
      transition: 100ms;
      transform: scale(0.9);
    }
  }

  @include media-breakpoint-down(sm) {
    .nav-item {
      min-height: 50px;
      line-height: 50px;
      display: block !important;
      width: 100% !important;
      margin-left: 0 !important;
    }

    body:not(.index) & {
      display: none;
    }
  }
}


footer {
  font-size: 10px;
  text-align: center;
  margin-top: 50px;
  height: 50px;
  width: 100%;

}
